:root {
    --cor-primaria: #4caf50;
    --cor-primaria-light: #80e27e;
    --cor-primaria-dark: #087f23;
    --cor-secundaria: #e8f5e9;
    --cor-secundaria-light: #ffffff;
    --cor-secundaria-dark: #b6c2b7;
    --color-texto: #000000;
  }

.tituloSite {
    margin: 1em 0 0.5em 0;
}


@media screen and (min-width: 701px) {
    .tituloSite {
      font-size: 80px;
    }
}
  
  @media screen and (max-width: 700px) {
    .tituloSite {
      font-size: 50px;
    }
  }

.sloganSite {
    font-size: 1em;
    text-align: center;
    margin: 2em 1em 3.5em 1em;
}

header {
    background: var(--cor-primaria-dark);
    color: var(--cor-secundaria-light);
    text-align: center;
    padding: 30px auto;
    overflow: hidden;
    margin-bottom: 2em;
  
    clip-path: ellipse(100% 55% at 48% 44%);
}