.mainPage {
    padding: 2em 0 2em 0;
}

.cardDeck {
    display: flex;
    justify-content: flex-start;
    flex-flow: row wrap; 
    align-items: stretch;
    justify-content: center;
    flex-basis: 20%;
}

.caixaPesquisa {
    background-image: url("../imgs/search.svg");
    background-repeat: no-repeat;
    background-position: 98% 0;
    background-size: auto;
    margin: auto;
    width: 40%;
    padding: 8px 80px 8px 30px;
    background-color: var(--cor-secundaria);
    
    border-radius: 30px;
    margin-bottom: 2em;
}

#txtBusca:focus {
    outline: none;
}
  
#txtBusca {
    background-color: transparent;
    width: 100%;
    font-style: italic;
    font-size: 16pt;
    border: none;
}

#txtBusca:focus {
    color: var(--cor-primaria-dark);
}

@media (max-width: 2000px) {
    .cardDeck .card {
        display: block;
        flex-basis: 20%; /* change this value for each breakpoint*/
    }
}

@media (max-width: 1100px) {
    .cardDeck .card {
        display: block;
        flex-basis: 40%; /* change this value for each breakpoint*/
    }
    .caixaPesquisa {
        width: 70%;
    }
}

    
@media (max-width: 700px) {
    .cardDeck .card {
        display: block;
        flex-basis: 85%; /* change this value for each breakpoint*/
    }
    
}